<div class="col-md-4">    
	<label for="senatorList">Senators</label>
	<input type="text" class="form-control" id="senatorList" placeholder="Type senator name"data-provide="typeahead">
</div>
<div class="col-md-4">
    <label for="companyList">Organizations</label>
	<input type="text" class="form-control"id="companyList" placeholder="Type organization name"data-provide="typeahead">
</div>
<div class="col-md-4">
	<label for="industryList">Industries</label>
	<input type="text" class="form-control"id="industryList" placeholder="Type industry"data-provide="typeahead"></div>
</div>