<html>
<head>
    <meta charset="utf-8">
    <link href="../public/css/style.css" rel="stylesheet">
    <!-- I don't think you can access public from here, but you might be able to add your own JS and CSS files within the views directory -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div id="data-holder" style="visibility:hidden;"><%= JSON.stringify(obj) %></div>
<script>
  $(function() {
    var data = JSON.parse($('#data-holder').html());
    console.log(data);
    // donations are sorted by default for senators
  });

</script>

</body>
</html>