.row {
	margin: 30px 0px 20px 0px;
}

.arc text {
  font: 20px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

#contributor{
	text-align: left;
}

ul{
	padding-left: 5px;
}

#breif{
text-align: center;
}